version: '3.9'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: tasks_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./app:/project/app
      - ./migrations:/project/migrations
      - ./alembic.ini:/project/alembic.ini
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  postgres_data: